.centerWindow {
    height: 1000px;
    background: red;
    position: relative;
    padding: 5px;

}

.chatWindow {
    /*Message input*/
    background: white;
    overflow-y: scroll;
    height: 900px;
}


.messageContainer {
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    background: lightslategrey;
    height:65px;
}

.chatContainer {
    background: white;
    width: 97%;
    margin: 12.5px 1.5%;

}



.sendButton {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

#map {
    width: 100%;
    height: 500px;
    background: grey;
}

.messageUser {
    background: darkred;
}
.messageDate {
    background: yellowgreen;
}
.messageText {
    background: pink;
    padding: 10px 0px;
}

.outsidebox {
    margin-left: 20px;
}